{% extends 'base.html' %}
{% block title %}Quiz & Poll{% endblock %}
{% block content %}
<h1>Quiz &amp; Poll</h1>
<div style='float: right; text-align:center; background-color: #fff'>
  <img src="static/home_screen_phone.png"/>
  <br />
  <a href="http://market.android.com/details?id=org.quizpoll">
   <img src="http://www.android.com/images/brand/60_avail_market_logo1.png"
       alt="Available in Android Market" />
  </a>
  <br /><br />
  <div class="g-plus" data-href="https://plus.google.com/118249343399153133129" data-size="smallbadge"></div>
</div>
<p>Ever wish you could get your students to stop texting and use their
  phones productively in the classroom? Or want to gauge what your students have
  learned? This Android app and related systems enables educators to engage and
  challenge their students inside the classroom (using polls) and outside the
  classroom (using quizzes).</p>
<h2>How it works</h2>
<p>With Quiz & Poll, teachers &amp; educators can create quizzes and polls
  easily using Google Spreadsheets. Quizzes and Polls are distributed to
  students via the Android app or an embeddable webplayer. Statistics data is
  written back to the spreadsheet so the instructor can track student responses
  and understanding.</p>

<strong>Key Features:</strong>
<ul>
  <li>Quizzes and polls are easily created and administered on Google
    Spreadsheets.</li>
  <li>Students can download the Android App to take the quiz or live
    classroom poll.</li>
  <li>For students without Android phones, quizzes and polls can be
    accessed via a web interface (works on laptops, iPhones, iPads etc.).</li>
  <li>Administrators can view quiz and poll statistics on the same
    Spreadsheet.</li>
</ul>
<h2>How to create a quiz</h2>
<ol>
  <li>Create a copy of <a
    href="https://docs.google.com/spreadsheet/ccc?key=0Aqrxb_ov7Sd5dF9YQXdMNTlQczRxLTR5ZDBVb2tuY0E">Template
      quiz game</a>
  </li>
  <li>Rename the spreadsheet to your quiz name, but leave the <i>[Q]</i>
    identifier in the beginning</li>
  <li>Share the spreadsheet with <b>quiz-n-poll@appspot.gserviceaccount.com</b>
    for editing</li>
  <li>Update the worksheets <i>Questions</i> and <i>Information</i> by
    following instructions in the template</li>
  <li>Mark all the correct answers by putting <i>*</i> after the
    response in the cell</li>
  <li>Share your quiz with your students in one of the following ways:
    <ul>
      <li>In the spreadsheet, from the <i>Quiz Games</i> menu, select <i>Share with students</i></li>
      <li>In Android app, go to <i>Quiz Games -> MENU -> My Own Quizzes
          -> Share</i>
      </li>
      <li>Add it into public quiz games (accessible by anyone) by <a href="mailto:me@destil.cz">contacting
          me</a>
      </li>
    </ul></li>
</ol>
<iframe width="420" height="315" src="http://www.youtube.com/embed/3uTYCMO-aY0" frameborder="0" allowfullscreen></iframe>
<h2>How to create a poll</h2>
<b>Prior to the class</b>
<ol>
  <li>Copy this <a href="https://docs.google.com/spreadsheet/ccc?key=0Aqrxb_ov7Sd5dGlnYWJHSnRIN2F3bFVJUjlzNGZiY3c">spreadsheet template</a> and ensure you share with <b>quiz-n-poll@appspot.gserviceaccount.com</b>
    (rename it and don't delete the <i>[P]</i> identifier)</li>
  <li>Create your own question list (on the <i>Questions</i> tab)</li>
  <li>Add a * for correct answers</li>
  <li>You're all set for the classroom now!</li>
</ol>

<b>During class</b>
<ol>
  <li>Start the polling by clicking <i>Start</i> in the <i>Polling</i> menu
    of the spreadsheet (Project from the first tab of your spreadsheet!)</li>
  <li>If students have an Android device they can scan the QR code to
    answer the questions</li>
  <li>Otherwise you can share a link with students to access from their
    laptop or any device by entering their email addresses</li>
  <li>Select the appropriate question from the drop-down and click <i>Start</i>
    for the students to respond to that question.</li>
  <li>You can stop responding anytime and project a graph of responses.</li>
  <li>At the end students can compare with the rest of the class in Results
    graph.</li>
</ol>
<iframe width="420" height="315" src="http://www.youtube.com/embed/Kf9Rs61vrqw" frameborder="0" allowfullscreen></iframe>
<h2>About the project</h2>
<p>
  This project was created by <a href="http://www.destil.cz">David Vávra</a>,
  intern at Google Inc. for Learning Technology Team. It is open-sourced
  under Apache 2.0 license. This means you can create own version for your
  school/organization.
</p>
<ul>
  <li><a href="http://code.google.com/p/quiz-and-poll/">Read more about
      the open-source project</a>
  </li>
  <li><a href="https://groups.google.com/forum/#!forum/quiz-and-poll">Give
      feedback on Google Group</a>
  </li>
</ul>
{% endblock %}
