<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2011 Google Inc. All Rights Reserved.

 Licensed under the Apache License, Version 2.0 (the "License');
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS-IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.quizpoll"
    android:versionCode="100"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ah" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.quizpoll" >
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AboutActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".ui.QuizBrowserActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".ui.RecentPollsActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".ui.QuizInfoActivity"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="quiz-n-poll.appspot.com"
                    android:pathPrefix="/quiz/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PollActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="quiz-n-poll.appspot.com"
                    android:pathPrefix="/poll/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.QuizPlayerActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".ui.ArenaActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".ui.LeaderboardActivity"
            android:configChanges="orientation|keyboardHidden" />

        <provider
            android:name=".data.QuizPollProvider"
            android:authorities="org.quizpoll"
            android:label="@string/app_name"
            android:syncable="false" />
    </application>

</manifest>